@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');


:root {
    --bg-primary: hsl(246, 100%, 92%);
    --bg-secondary: #f5f5f5;
    --bg-third: hsl(0, 0%, 0%);
    --text-primary: hsl(0, 0%, 10%);
    --text-secondary: hsl(0, 0%, 95%);
    --border-color: rgba(255, 255, 255, 0.1);
    --text-secondary2: rgb(0, 0, 0);
    --column-bg: hsl(259, 15%, 68%);
    --cont-title: hsl(0, 0%, 100%);
    --card-bg: hsl(259, 15%, 60%);
    --new-btn: hsl(272, 100%, 95%);
    --add-btn: hsl(259, 15%, 55%);
}

body {
    background-color: var(--bg-primary);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border-radius: 10px;
    transition: background 0.5s ease-in-out;
}

body.dark {
    --bg-primary: hsl(0, 0%, 5%);
    --bg-secondary: #2a2535;
    --bg-third: hsl(0, 0%, 85%);
    --text-primary: hsl(0, 0%, 85%);
    --text-secondary: hsl(0, 0%, 15%);
    --border-color: hsl(0, 0%, 55%);
    --column-bg: hsl(259, 15%, 22%);
    --cont-title: hsl(0, 0%, 85%);
    --card-bg: hsl(259, 15%, 15%);
    --new-btn: hsl(272, 100%, 75%);
    --add-btn: hsl(259, 15%, 25%);
}

.top-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0%;
    margin: 0;
}

.top-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: center;

}

.top-right span {
    font-size: 1.2rem;
    font-weight: 200;
    padding: 5px 10px;
}

#filter {
    color: var(--text-primary)
}

.top-right button {
    font-family: monospace;
    border-radius: 15%;
    font-style: italic;
    font-weight: 800;
    margin: 2.5px;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    transition: background ease-in-out;
}

.top-right button:hover {
    filter: brightness(1.2) contrast(1.2);
    transform: scale(110%);
}

.top-right button:active {
    transform: scale(90%);
    filter: brightness(0.70) contrast(0.75);
}

#highBtn {
    background-color: hsl(0, 100%, 75%);
    color: hsl(0, 55%, 20%);
}

#mediumBtn {
    background-color: hsl(38, 76%, 75%);
    color: hsl(32, 94%, 20%);

}

#lowBtn {
    background-color: hsl(208, 100%, 75%);
    color: hsl(207, 55%, 20%);

}

#allBtn {
    background-color: hsl(0, 0%, 65%);
    color: hsl(0, 0%, 20%);
    font-size: 0.75em;
}

#darkMode {
    margin-left: auto;
    font-size: 200;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 8px;
    color: var(--text-secondary);
    background-color: var(--bg-third);
    padding: 8px 8px;
    cursor: pointer;
    transition: background ease-in-out;
}

#darkMode:hover {
    filter: brightness(1.02) contrast(1.02);
    transform: scale(105%);
}

#darkMode:active {
    filter: brightness(0.85) contrast(0.85);
    transform: scale(85%);
    color: hsl(0, 0%, 85%);
}

#hname {
    font-family: "Sedgwick Ave Display", cursive;
    color: var(--text-primary);
    transition: background 0.2s ease-in;
}

#hlist {
    font-family: "Sedgwick Ave Display", cursive;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(hsl(263, 45%, 65%), hsl(259, 35%, 70%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: 2.5px black line-through;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.column {
    display: flex;
    flex: auto;
    overflow-y: auto;
    background: var(--column-bg);
    border-radius: 10px;
    padding: 12px;
    height: 80dvh;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 2.5px 2.5px 2.5px hsl(259, 15%, 12%);
}

.column::-webkit-scrollbar {
    display: none;
}

.container-head {
    display: flex;
    margin-bottom: 25px;
}

.cont-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--cont-title);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.8px;

}

.dot {
    width: 10px;
    height: 10px;
    border: 0.5px solid hsl(259, 15%, 15%);
    border-radius: 50%;
    display: inline-block;
}

.dot.dto-do {
    background: hsl(0, 0%, 55%);
}

.dot.dprogress {
    background: hsl(60, 100%, 80%);
}

.dot.ddone {
    background-color: hsl(120, 100%, 80%);
}

@keyframes blink {
    50% {
        filter: brightness(0.55) contrast(0.55);
        transform: scale(90%);
    }


    ;
}

.cont-count {
    font-family: monospace;
    width: 20px;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    color: var(--cont-title);
    margin-left: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}


.card,
.td,
.prog,
.comple,
.dmemo,
.added {
    min-width: 0;
    border: 2.0px solid;
    border-radius: 10px;
    background: var(--card-bg);
    padding: 12px;
    margin-bottom: 10px;
    overflow: auto;
    box-shadow: 0 2px 2px 2px hsl(259, 15%, 15%);
    transition: background 1s ease;
}

.card:hover {
    filter: brightness(105%) contrast(105%);
    transform: translateY(-2.5px)
}

.card:active {
    filter: brightness(85%) contrast(85%);
    transform: translateY(5px);
}

.card-title {
    display: flex;
    word-break: break-word;
    font-family: serif;
    white-space: normal;
    color: white;
    padding-bottom: 10px;
}

.newTsk {
    display: flex;
    gap: 8px;
    padding: 10px;
    color: rgb(0, 0, 0);
    width: 90%;
    min-height: 35px;
    border-radius: 5px;
    border: 3.5px solid black;
    box-shadow: 0 1.2px 1.2px 1.2px black;
    background: var(--new-btn);
    font-size: medium;
}

.newTsk::placeholder {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: hsl(270, 60%, 20%);
    letter-spacing: 1px;
    opacity: 0.6;
}

.newTsk:focus {
    outline: none;
    box-shadow: 0 0px 0px 3px black;
}

.inpBtns,
.nbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8.5px;
    margin-top: 1px;
    padding: 5px;
    gap: 2.5px;
    font-family: 'Outfit', sans-serif;
}

.divi {
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}


.nbtn {
    border: 3.5px solid black;
    letter-spacing: 0.5px;
    font-weight: 680;
}

.confirmBtn {
    margin-left: auto;
    background: hsl(120, 25%, 60%);
    color: hsl(120, 25%, 15%);
}

.confirmBtn:hover,
.cancelBtn:hover {
    transform: translateY(-3px) scale(102%);
    font-size: 101%;
    filter: brightness(1.15) contrast(1.15);
    cursor: pointer;
}

.cancelBtn {
    margin-right: 25px;
    background: hsl(0, 0%, 60%);
    color: hsl(0, 0%, 15%);
}

.pbtn:hover {
    transform: scale(110%) translateY(-4px);
    filter: brightness(1.1px) contrast(1.1px);
    font-size: 110%;
    box-shadow: 4px 2.5px 1.5px 1px hsl(259, 15%, 20%);
    animation: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;

}

.pbtn {
    margin-top: 10px;
    margin-right: 8px;
    transition: brightness 0.5 ease-in-out;
}

.pbtn:active {
    transform: scale(95%);
    filter: brightness(80%) contrast(80%);
}

.priority {
    font-weight: 800;
    font-family: monospace;
    padding-left: 1px;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 8px;
    padding-inline: 1.5%;
}

.high {
    color: hsl(0, 55%, 45%);
    background: hsl(0, 100%, 95%);
}

.medium {
    color: hsl(32, 94%, 13%);
    background: hsl(38, 76%, 95%);
}

.low {
    color: hsl(207, 55%, 45%);
    background: hsl(208, 100%, 95%);
}

.fa-solid.fa-music {
    position: fixed;
    bottom: 3px;
    right: 3px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 1.5rem;
}

.addBtn {
    justify-content: center;
    font-family: Times, serif;
    background: var(--add-btn);
    color: hsl(0, 0%, 100%);
    border-radius: 6px;
    padding: 8px;
    font-weight: 500;
    box-shadow: 0 5px 5px 1px hsl(259, 15%, 15%);
    transition: background 1s ease;
    letter-spacing: 1.5px;
}

.addBtn:hover {
    filter: brightness(90%) contrast(90%);
    transform: scale(1.01);
    cursor: pointer;
}

.addBtn:active {
    filter: brightness(75%) contrast(75%);
    transform: scale(98%);
}

.comple {
    filter: opacity(0.5) brightness(0.90);
}

.comple:hover,
.compl:hover {
    filter: opacity(1) brightness(1);
    text-decoration: none;
}

.compl {
    text-decoration: 2px white line-through;
}


.dmemo {
    border: dashed black 1.5px;
    margin-top: auto;
    background: transparent;
    text-align: center;
    opacity: 0.45;
    font-family: Tahoma, sans-serif;
    font-size: 0.8rem;
    box-shadow: none;
    letter-spacing: 1.5px;
    font-weight: 450;
}

.toptitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit {
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-radius: 50%;
    margin-bottom: 2.5px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border: hsl(259, 15%, 15%);
    background: hsl(41, 78%, 45%);
    color: hsl(41, 50%, 15%);
}

.delete {
    display: flex;
    font-size: 20px;
    color: hsl(0, 65%, 15%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 2.5px;
    justify-content: center;
    align-items: center;
    border: hsl(259, 15%, 15%);
    color: hsl(0, 50%, 10%);
    background: hsl(0, 65%, 45%);
}

.prop {
    display: none;
}

.td.active .prop {
    display: flex;
}

.inptext {
    display: none;
}

.toast {
    position: fixed;
    bottom: 24;
    right: 24;
    background: hsl(0, 72%, 59%);
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 13px;
    font-family: 'Outfit', sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.toast.show {
    opacity: 1;
}